    <div [formGroup]="form" class="form-group">
        <label [attr.for]="question.key" class="form-label">
            {{ question.label }}
        </label>

        <div [ngSwitch]="question.controlType">
            <input *ngSwitchCase="'textbox'" 
                [formControlName]="question.key"
                [id]="question.key" 
                [type]="question.type"
                [min]="question.type === 'Date' || question.type === 'date' ? today : null"
                class="form-input"
                (keypress)="solo_letras($event)">


            <div *ngSwitchCase="'radio'">
                <div *ngFor="let option of question.options">
                    <label>
                        <input type="radio" 
                            [formControlName]="question.key" 
                            [value]="option.key">
                        {{ option.value }}
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!isValid" class="error-message">
        {{ question.label }} es obligatorio.
    </div>

